<div class="m-5">
    <h3>Consultas:</h3>

    <table id="miTabla" class="display " style="width:100% ">
        <thead>
            <tr>
                <th>Nombre y apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Curso</th>
                <th>Mensaje</th>
                <th>Estado</th>
                <th>Modificar estado</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each consulta}}
            <tr>
                <td class="no-wrap">{{this.nombre}} {{this.apellido}}</td>
                <td>{{this.email}}</td>
                <td>{{this.telefono}}</td>
                <td>{{this.curso}}</td>
                <td>{{this.mensaje}}</td>
                <td class="no-wrap">
                    <!-- Agregar un formulario para cada estado -->
                    <form class="col-lg-12 rolForm no-wrap">
                        <div class="form-outline mb-4 no-wrap">
                            <select class="col-lg-12 form-select center my-2 estadoSeleccionado">
                                <option value="{{this.estado}}">{{this.estado}}</option>
                                <option value="no leido" class="col-lg-12 center">
                                    No leido
                                </option>
                                <option value="pendiente">Pendiente</option>
                                <option value="cerrado">Cerrado</option>
                            </select>
                        </div>
                    </form>
                </td>
                <td>
                    <!-- Agregar el botón de actualización dentro del formulario -->
                    <button type="submit" class="col-lg-12 btn btn-info center my-2 changeEstado"
                        data-consulta-id="{{this._id}}">
                        <i class="fa-regular fa-circle-up"></i> Modificar
                    </button>
                </td>
                <td>
                    {{! <a href=""> }}
                        {{! </a> }}
                    <button class="col-lg-12 btn btn-danger center my-2 eliminarConsulta" id="{{this._id}}">
                        <i class="fa fa-trash"></i> Eliminar
                    </button>
                </td>

            </tr>
            {{/each}}

        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

<!-- Modal de Búsqueda -->
<div class="modal" id="busquedaModal" tabindex="-1" role="dialog" aria-labelledby="busquedaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="busquedaModalLabel">Buscar en la columna</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cerrarModalBtn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="filtroInput">Valor de filtro:</label>
                <input type="text" class="form-control" id="filtroInput">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="buscarBtn">Buscar</button>
                {{!-- <button type="button" class="btn btn-secondary" id="cerrarModalBtn">Cerrar</button> --}}
                <button type="button" class="btn btn-danger" id="limpiarBtn">Limpiar Filtro</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/dataTable.js"></script>
<script src="/js/cambiarEstadoConsulta.js"></script>
<script src="js/eliminarConsulta.js"></script>