<!-- Contact Start -->
<div class="container-xxl py-5" id="contact">
    <div class="container py-5 px-lg-5">

        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="text-primary-gradient fw-medium m-3 p-3">Perfil</h5>

            {{!-- <img class="foto-de-perfil" src="/imagenes/testimonial-3.jpg" alt="Mi Foto de Perfil"> --}}

        </div>
        <div class="row justify-content-center m-3">
            <div class="col-lg-9">
                <div class="wow fadeInUp" data-wow-delay="0.3s">

                    <form id="imagenForm" enctype="multipart/form-data">
                        <div class="row g-3">
                            <div class="form-outline  col-12 text-center mb-4">
                                <div class="image-upload">
                                    <label for="fileInput" class="image-label">
                                        <img class="foto-de-perfil" id="imagePreview" src="{{imagen}}" alt="Mi Foto de Perfil">
                                        <i class="fa-solid fa-user updateImage" id="iconPreview"></i>
                                        <!-- Usa la variable 'imagen' directamente en el src -->
                                    </label>
                                    <input type="file" id="fileInput" name="imagen" class="file-input" multiple onchange="previewImage();" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="nombre" id="name"
                                        placeholder={{user.nombre}} disabled>
                                    <label for="name">{{user.nombre}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="apellido" name="apellido"
                                        placeholder={{user.apellido}} disabled>
                                    <label for="Apellido">{{user.apellido}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="telefono" name="telefono"
                                        placeholder={{user.telefono}} disabled>
                                    <label for="Telefono">{{user.telefono}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder={{user.email}} disabled>
                                    <label for="email">{{user.email}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder={{nacimiento}} disabled>
                                    <label for="email">{{nacimiento}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder={{nacimiento}} disabled>
                                    <label for="email">{{nacimiento}}</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit"
                                    class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill mt-3 mb-4">
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/imagePreview.js"></script>
<script src="/js/modificarPerfil.js"></script>