<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css" />

  {{!--
  <link rel="stylesheet" href="styles/bootstrap/css/bootstrap-icons.css"> --}}

  <!--fontawesome Files -->

  <link href="styles/fontawesome/css/fontawesome.css" rel="stylesheet" type="text/css" />
  <link href="styles/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />

  <link href="imagenes/pilates-img.jpeg" rel="icon" />

  <!-- Sweet Alert-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap"
    rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


  <!-- Libraries Stylesheet -->
  <link href="lib/animate/animate.min.css" rel="stylesheet" />
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- DataTables CSS y JS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  <title>{{title}}</title>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
  <div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar & Hero Start -->
    <div class="position-relative " id="home">
      <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 ">
        <a href="" class="navbar-brand p-0">
          <h1 class="m-0">Balans</h1>

        </a>

        <div class="mx-auto  navbar-expand-lg bg-body-tertiary">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " href="/nosotros" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle justify-content-between" href="#" data-bs-toggle="dropdown"
                aria-expanded="false">
                Formacion
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/pilates">Pilates</a></li>
                <li><a class="dropdown-item" href="#">Curso 2</a></li>
                <li><a class="dropdown-item" href="#">Curso 3</a></li>
                <li><a class="dropdown-item" href="#">Curso 4</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="/contacto" class="nav-item nav-link">Contacto</a>
            </li>
          </ul>
        </div>
        {{#unless user}}
        <a href="/login" class="btn btn-light  rounded-pill py-2 px-4 ms-3 d-none d-lg-block"><i
            class="fa-solid fa-user"></i>
          Iniciar sesión</a>
        {{/unless}}
        {{#if user}}

        <ul class="dropdown btn btn-light  rounded-pill py-2 px-4 m-3 d-lg-block" style="list-style-type: none;">
          <li>
            {{#unless imagen}}
            <i class="fa-solid fa-user"></i>
            <a class="dropdown-toggle justify-content-between" data-bs-toggle="dropdown">
              {{!-- <i class="fa-solid fa-user"></i> --}}
              {{user.nombre}}
              {{user.apellido}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
              <li id="loguotButton"><a class="dropdown-item" href="#">Cerrar sesión</a></li>
              {{#ifRoleAdmin user.role}}
              <li>

              <a class="dropdown-item" href="/admin">Panel de administrador</a>
              </li>
                {{/ifRoleAdmin}}
              
            </ul>
          </li>
        </ul>
        {{/unless}}
        {{#if imagen}}
        <img class="foto-de-perfil-button" src="{{imagen}}" alt="Mi Foto de Perfil">
        <a class="dropdown-toggle justify-content-between" data-bs-toggle="dropdown">
          {{!-- <i class="fa-solid fa-user"></i> --}}
          {{user.nombre}}
          {{user.apellido}}
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
          <li id="loguotButton"><a class="dropdown-item" href="#">Cerrar sesión</a></li>
          {{#ifRoleAdmin user.role}}
          <li class="dropdown-item" href="/admin">Panel de administrador</p>
            {{/ifRoleAdmin}}
         
        </ul>



        {{/if}}
        {{/if}}

      </nav>
    </div>
  </div>





  <div class="container-xxl bg-primary hero-header">
    <div class="container px-lg-5">
      <div class="row g-5 mt-5">

      </div>
    </div>
  </div>
  {{{body}}}
  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up text-white"></i></a>
  </div>
  <!-- Navbar & Hero End -->

  <!-- Footer Start -->
  <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
      <div class="row g-5">
        <div class="col-md-6 col-lg-3">
          <h4 class="text-white mb-4">Dirección</h4>
          <p><i class="fa fa-map-marker-alt me-3"></i>Calle falsa 123</p>
          <p><i class="fa fa-phone-alt me-3"></i>+54 9 1160410061</p>
          <p><i class="fa fa-envelope me-3"></i>pgardella@example.com</p>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4 class="text-white mb-4">Quick Link</h4>
          <a class="btn btn-link" href="/nosotros">Nosotros</a>
          <a class="btn btn-link" href="/contacto">Contacto</a>
          <a class="btn btn-link" href="/curso1">Formacion</a>
          {{!-- <a class="btn btn-link" href="">Terms & Condition</a>
          <a class="btn btn-link" href="">Career</a> --}}
        </div>
        <div class="col-md-6 col-lg-3">
          <h4 class="text-white mb-4">Popular Link</h4>
          <a class="btn btn-link" href="">About Us</a>
          <a class="btn btn-link" href="">Contact Us</a>
          <a class="btn btn-link" href="">Privacy Policy</a>
          <a class="btn btn-link" href="">Terms & Condition</a>
          <a class="btn btn-link" href="">Career</a>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4 class="text-white mb-4">Newsletter</h4>
          <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulpu</p>
          <div class="position-relative w-100 mt-3">
            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Your Email"
              style="height: 48px;">
            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                class="fa fa-paper-plane text-primary-gradient fs-4"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="container px-lg-5">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
            </br>
            Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
          </div>
          <div class="col-md-6 text-center text-md-end">
            <div class="footer-menu">
              <a href="">Home</a>
              <a href="">Cookies</a>
              <a href="">Help</a>
              <a href="">FQAs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->



  </div>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>



  <!-- Template Javascript -->
  <script src="js/main.js"></script>
  <script src="js/cerrarSesion.js"></script>
</body>

</html>